.controls {
  position: fixed;
  right: 50px;
  padding: 10px;
  border-radius: 5px;
  animation: appearance 0.2s 1 ease-in-out both;
  background-color: #2b2b2b;
  color: #ffffff;

  &.dark {
    background-color: #fff;
    color: #2b2b2b;
  }
}

.title {
  margin-bottom: 10px;
  font-size: 18px;
}

.buttons {
  display: flex;
  gap: 5px;
}

.button {
  font-size: 18px;
  color: #fff;
}

.button {
  &.delete {
    background-color: rgb(182, 75, 75);
  }

  &.download {
    background-color: rgb(77, 138, 77);
  }
}

@keyframes appearance {
  from {
    bottom: -50px;
  }
  to {
    bottom: 50px;
  }
}
