.not-found-view {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 48px;
  }
}
