.loader {
  color: transparent;
  width: 100px;
  height: 100px;
  margin: 20px auto 0;
  border-radius: 50%;
  border: 10px solid rgb(160, 101, 168);
  border-top-color: transparent;
  animation: loader-spin 1s infinite linear;
}

@keyframes loader-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
