.element {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  background-color: #569da0;
  color: var(--light-color);
  position: relative;
  z-index: 2;
}

.name {
  margin-bottom: 10px;
}

.link {
  margin-top: auto;
}
