.element-view {
  flex-basis: 40%;
  font-size: 28px;
  border: 2px solid rgb(101, 128, 168);
  background-color: #294468;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
