.content {
  display: flex;
  gap: 20px;
  position: relative;
  padding: 15px 0;
}

.header {
  position: relative;
  z-index: 2;
  padding: 20px 0;
  background-color: inherit;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  position: absolute;
  inset: 0;
}
